.hlogin-p-register-popup-global {
    user-select: none;
}

.hlogin-p-register-popup-global * {
    box-sizing: content-box !important;
}

.hlogin-p-register-popup-global img {
    vertical-align: middle !important;
}

.hlogin-test-load-block-design {
    margin: 0;
    padding: 0;
    height: 100px !important;
}

.hlogin-p-register-popup-global-in *:focus {
    outline: 2px solid deepskyblue;
    outline-offset: -2px;
}

.hlogin-shadow-on-block-st {
}

.hlogin-p-register-popup-global {
    box-sizing: content-box;
    position: fixed;
    margin: 0;
    left: 0;
    top: 0 !important;
    width: 100%;
    min-height: 100%;
    max-height: 100%!important;
    right: auto;
    bottom: auto;
    z-index: 2147483646;
    overflow: auto;
    max-width: 100%;
}

.hlogin-p-register-popup-global-in {
    box-sizing: content-box;
    max-width: 320px;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    overflow: auto;
    color: whitesmoke;
}

.hlogin-p-close-popup-x a {
    font-family: Arial;
    position: fixed;
    right: 10px;
    top: 4px;
    font-weight: bold;
    color: #ebebeb;
    cursor: pointer;
    padding: 4px;
    border-radius: 100%;
    font-size: 25px;
    text-decoration: none;
}

.hlogin-p-popup-check-info {
    position: relative;
    top: 5px;
    color: maroon;
    font-size: 13px;
}

.hlogin-p-popup-confirm-block {
    margin-bottom: 2px;
}

.hlogin-p-overlay-fon-from-popup,
.hlogin-p-block-over-popup {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2147483645;
    bottom: auto;
    right: auto;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #323C54;
    opacity: 0.9;
}

.hlogin-p-popup-cell-error {
    background-color: #fedecd;
}

.hlogin-g-input-cell-over {
    margin: 10px 0 5px 0;
}

.hlogin-g-input-cell-text {
    padding-left: 3px;
    font-size: 15px;
    font-weight: bolder;
    color: #ffffff;
    text-align: left;
    padding-bottom: 4px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.hlogin-g-input-cell,
.hlogin-g-input-password-cell {
    width: calc(100% - 11px) !important;
    height: 30px;
    font-size: 14px;
    padding: 0px 4px !important;
    border-radius: 0;
    border: 1px solid gray;
    background-color: rgb(232, 240, 254);
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 1px #ffffff;;
}

.hlogin-g-input-password-cell {
    width: calc(100% - 33px) !important;
    padding-right: 25px !important;
}

.hlogin-p-popup-confirm-text,
.hlogin-p-popup-message-text,
.hlogin-p-popup-subscription-text {
    color: whitesmoke;
    font-size: 12px;
}

.hlogin-p-popup-subscription-text {
    padding-top: 3px;
}

.hlogin-p-popup-confirm-text-over {
    width: max-content;
    cursor: pointer;
}

.hlogin-p-popup-confirm-checkbox {
    margin: 1px 8px 0 0;
    cursor: pointer;
}

.hlogin-g-link-grey {
    color: white;
}

.hlogin-g-link-line {
    white-space: nowrap;
    text-decoration: underline;
}

.hlogin-g-link-grey:hover {
    color: #a8a8a8;
}

.hlogin-p-active-link,
.hlogin-p-action-page-link {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 0;
    display: inline-block;
    margin: 2px 15px 10px 5px;
    cursor: pointer;
    font-size: 14px;
}

.hlogin-p-active-link:hover,
.hlogin-p-action-page-link:hover {
    border-bottom: 1px solid #ffffff;
}
.hlogin-p-active-link:hover {
    margin-bottom: 9px;
}

.hlogin-p-action-page-link {
    color: black;
    margin: 2px 10px 4px 5px;
    border-bottom: 1px dashed white;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.hlogin-p-action-page-link:hover {
    color: black;
    border-bottom: 1px dashed whitesmoke;
}

.hlogin-p-autogen-pass {
    position: relative;
    top: 4px;
    left: 4px;
    color: whitesmoke;
}

.hlogin-p-over-btn-adaptive {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.hlogin-f-btn-empty {
    display: inline-block;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    background: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
}

.hlogin-f-btn {
    padding: 8px 4px;
    cursor: pointer;
    color: #f5f5f5;
    background-color: #a8a8a8;
    width: calc(100% - 2px);
    border-radius: 1px;
    border: 1px solid grey;
    font-size: 14px;
    text-shadow: 1px 1px 1px #666;
    letter-spacing: 0.06em;
    min-height: 30px;
    margin: 5px 0 15px 0;
}

.hlogin-f-btn:hover {
    border: 1px solid #848484;
    text-shadow: 1px 1px 1px #7e7e7e;
    color: white;
    background-color: #a2a2a2;
}

.hlogin-f-btn-green {
    border-top: 1px solid #74d461;
    border-right: 1px solid #74d461;
    background-color: #2f9140;
    text-shadow: 1px 1px 1px #18660d;
    border-bottom: 1px solid #0e7715;
    border-left: 1px solid #0e7715;
}

.hlogin-f-btn-green:hover {
    border-top: 1px solid #74d461;
    border-right: 1px solid #74d461;
    background-color: #2f983f;
    text-shadow: 1px 1px 1px #1b730f;
    border-bottom: 1px solid #188623;
    border-left: 1px solid #188623;
}

.hlogin-f-btn-blue {
    border: 1px solid #879ba4;
    background-color: #456dbb;
    text-shadow: 1px 1px 1px #3d4c85;
    border-bottom: 1px solid #1c68bb;
    border-left: 1px solid #1c68bb;
}

.hlogin-f-btn-blue:hover {
    border: 1px solid #879ba4;
    background-color: #4872c4;
    text-shadow: 1px 1px 1px #3d4c85;
    border-bottom: 1px solid #1c68bb;
    border-left: 1px solid #1c68bb;
}

.hlogin-f-btn-orange {
    border: 1px solid #e58000;
    background-color: #f09b1c;
    text-shadow: 1px 1px 1px #8a4500;
}

.hlogin-f-btn-orange:hover {
    border: 1px solid #e58000;
    background-color: #f8a41c;
    text-shadow: 1px 1px 1px #8c4600;
}

.hlogin-btn-disable, .hlogin-btn-disable:hover {
    border: 1px solid #646464;
    background-color: #a3a3a3;
    text-shadow: 1px 1px 1px #646464;
    cursor: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.hlogin-p-generator {
    margin-bottom: 15px;
}

.hlogin-p-title-h3, .hlogin-p-title-h3 button,
.hlogin-p-title-h3-copy {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: justify;
    padding: 0 !important;
}

.hlogin-p-title-h3-copy {
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    text-transform: capitalize;
}

.hlogin-p-title-h3-copy:hover {
    border-bottom: 2px solid #ffffff;
}

.hlogin-p-action-password-visible {
    display: inline-block;
    position: relative;
    top: 28px;
    left: 5px;
    border-bottom: 0;
    padding: 0px 5px;
    float: right;
    font-weight: normal;
}

.hlogin-p-action-password-visible:hover {
    border-bottom: 0;
}

.hlogin-p-register-popup-global input,
.hlogin-p-register-popup-global textarea,
.hlogin-g-text-select {
    user-select: text;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.hlogin-p-popup-remember-checkbox {
    position: relative;
    bottom: 2px;
    left: 3px;
    display: inline-block;
    margin-right: 6px;
    width: 20px;
    height: 20px;
}

.hlogin-p-popup-remember-text {
    display: inline-block;
    color: white;
    font-size: 14px;
    max-width: 85%;
    vertical-align: middle;
}

.hlogin-p-popup-remember-over,
.hlogin-p-popup-check-email-over {
    display: block;
    margin: 3px 0 10px 0;
    width: max-content;
    cursor: pointer;
    max-width: 100%;
    margin-bottom: 5px;
}

.hlogin-p-popup-check-email-over {
    display: none;
}

.hlogin-p-check-email {
    display: inline;
}

.hlogin-p-popup-message-text {
    margin: 10px 0;
}

.hlogin-p-text-info-text {
    font-size: 17px;
    padding: 5px 0;
}

#HloginMessageInPopupInfoTitle_UserMessage {
    color: #646464;
}

.hlogin-m-message-error-color {
    color: #a6aeae;
}

.hlogin-a7e-danger {
    font-size: 24px;
    font-weight: bold;
    color: chocolate;
}

.hlogin-input-error-overlay-block {
    font-size: 12px;
    color: #ff5318;
    white-space: nowrap;
}

.hlogin-input-error {
    border-color: #ff5318;
}

.hlogin-input-error-checkbox {
    outline: 1px solid #ff5318;
    outline-offset: -3px;
}

.hlogin-p-block-over-popup {
    z-index: 2147483647;
    opacity: 0.1;
}

#hlogin-error-nternet-connection-popup {
    position: fixed;
    top: 40px;
    width: 320px;
    z-index: 2147483647;
    border: 1px solid grey;
    background-color: whitesmoke;
    padding: 10px;
}

.hlogin-light-alert-color {
    color: #de832c;
    border-color: #de832c;
}

.hlogin-light-alert-color:hover {
    color: #f49031;
    border-color: #f49031;
}

.hlogin-v-time-left {
    margin-top: 10px;
    color: blue;
    font-size: 12px;
}

.hlogin-s-required-marker {
    display: inline-block;
    color: #a5b5fa;
    padding-left: 2px;
}
.hlogin-g-textarea-cell {
    height:150px;
    padding: 5px;
}
.hlogin-p-generator .hlogin-p-action-page-link {
    color: whitesmoke;
}
.hlogin-f-btn-close {
    position: relative;
    top: 25px;
}
#HloginMessageInPopupInfoTitle_UserMessage {
    color: ghostwhite;
}

/*  Full size   */
@media only screen and (min-width: 480px) {
    .hlogin-p-register-popup-global {
        width: 100% !important;
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        height: 100% !important;
        overflow: auto !important;
    }
    .hlogin-p-close-popup-x a {
        right: 35px;
        top: 10px;
    }
}