.hlogin-p-register-popup-global {
    user-select: none;
}
.hlogin-p-register-popup-global * {
    box-sizing: content-box !important;
}
.hlogin-p-register-popup-global img {
    vertical-align: middle !important;
}
.hlogin-test-load-block-design {
    margin: 0;
    padding: 0;
    height: 100px !important;
}
.hlogin-p-register-popup-global {
    box-sizing: content-box;
    position: fixed;
    margin: 0;
    background-color: rgb(80, 189, 64);
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    border-radius: 0;
    right: auto;
    bottom: auto;
    z-index: 2147483646;
    overflow: auto;
    max-width: 100%;
}
.hlogin-p-register-popup-global-in {
    box-sizing: content-box;
}
.hlogin-p-close-popup-x a {
    position: absolute;
    right: 10px;
}
.hlogin-p-overlay-fon-from-popup,
.hlogin-p-block-over-popup {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2147483645;
    bottom: auto;
    right: auto;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.hlogin-g-input-cell-text {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.hlogin-p-popup-confirm-text-over {
    width: max-content;
}

.hlogin-f-btn-empty {
    display: inline-block;
}

.hlogin-f-btn {
    width: calc(100% - 2px);
}
.hlogin-p-action-password-visible {
    display: inline-block;
    position: relative;
    top: 28px;
    left: 5px;
    border-bottom: 0;
    padding: 0px 5px;
    float: right;
}

.hlogin-p-action-password-visible:hover {
    border-bottom: 0;
}

.hlogin-p-register-popup-global input,
.hlogin-p-register-popup-global textarea,
.hlogin-g-text-select {
    user-select: text;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}
.hlogin-p-popup-remember-checkbox {
    position: relative;
    bottom: 2px;
    left: 3px;
    display: inline-block;
}
.hlogin-p-popup-remember-text {
    display: inline-block;
}
.hlogin-p-popup-remember-over,
.hlogin-p-popup-check-email-over {
    display: block;
    margin: 3px 0 10px 0;
    width: max-content;
}
.hlogin-p-popup-check-email-over {
    display: none;
}

.hlogin-p-check-email {
    display: inline;
}

.hlogin-p-block-over-popup {
    z-index: 2147483647;
    opacity: 0.1;
}

#hlogin-error-nternet-connection-popup {
    position: fixed;
    top: 40px;
    width: 320px;
    z-index: 2147483647;
    border: 1px solid grey;
    background-color: whitesmoke;
    padding: 10px;
}

.hlogin-s-required-marker {
    display: inline-block;
}

/* You need to reassign this picture with a tag '!important' */
.hlogin-p-register-popup-global {
    background-image: url(/en/login/resource/100500/blank/svg/svg/background/);
}
