/* `light` design appearance */
/* Внешний вид дизайна `light` */
#hlogin-check-design-css {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    width: 50px;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

#hlogin-buttons {
    background-color: white;
    border: 0;
    border-bottom: 1px solid grey;
    transition: 0.2s;
}

.hlogin-content-btn {
    background-color: white;
    font-size: 15px;
}

/** PANELS */
/** ПАНЕЛИ */
.hlogin-over-content {
    background-color: #fcfdfb;
    border-bottom: 5px solid #cacaca;
    border-radius: 5px;
    border-left: 0;
    border-right: 0;
    max-height: calc(100% - 8px);
}

.hlogin-over-content *:active, .hlogin-over-content *:hover, .hlogin-over-content *:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}

/* The contents of the panel. */
/* Содержимое панели.  */
.hlogin-frame-internal {
    font-family: "PT Sans", sans-serif;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    padding: 10px 20px 30px 20px;
    margin: 4px 0 5px 0;
    width: calc(100% - 42px);
}

.hlogin-frame-internal hr {
    display: none;
}


/** The top part of the panel with the title. */
/** Верхняя часть панели с заголовком. */
.hlogin-content-header, .hlogin-alternative-link {
    display: inline;
    color: #4f59a2;
    font-weight: normal;
    font-size: 20px;
    border: 0 !important;
    padding: 0 !important;
    margin: 0;
}

.hlogin-content-header {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
    -moz-text-align-last: left;
}

.hlogin-over-panel[data-type=UserEnter] .hlogin-alternative-link {
    display: none;
}

.hlogin-alternative-link {
    background: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 0 !important;
    float: right;
}

.hlogin-frame-edge {
    text-align: right;
    -moz-text-align-last: right;
}

.hlogin-outer-x, .hlogin-inner-x {
    border: 0;
    box-shadow: none !important;
    position: absolute;
    right: 15px;
    top: 4px;
    background: transparent none !important;
    font-weight: bold;
    color: grey;
    cursor: pointer;
    padding: 4px;
    border-radius: 100%;
    font-size: 15px;
    text-decoration: none;
}

.hlogin-inner-x {
    font-size: 18px;
    background-color: #f9f9f9;
}

.hlogin-frame-internal input, .hlogin-password-cell, .hlogin-email-second-cell {
    width: calc(100% - 11px) !important;
    border-radius: 4px;
    height: 30px;
    font-size: 14px;
    padding: 8px 5px !important;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid grey;
    background-color: #fcfdfb;
    margin-bottom: 15px;
}

.hlogin-frame-internal input::-webkit-input-placeholder,
.hlogin-frame-internal input::-webkit-input-placeholder {
    color: #cccccc;
}

.hlogin-frame-internal input::-moz-placeholder,
.hlogin-frame-internal input::-moz-placeholder {
    color: #cccccc;
}

.hlogin-email-first-cell {
    display: inline-block;
    max-width: calc(50% - 20px) !important;
}

.hlogin-email-second-cell {
    display: inline-block;
    width: calc(50% - 20px) !important;
    max-width: calc(50% - 20px) !important;
}

.hlogin-text-input-cell {
    width: calc(100% - 11px) !important;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: white;
    margin-bottom: 16px;
    padding: 5px;
    min-height: 100px;
}

.hlogin-email-tag {
    display: inline-block;
    font-size: 14px;
    padding: 2px;
    color: #1b2427;
}

.hlogin-password-over {
    width: 100%;
}

.hlogin-input-title {
    padding-left: 3px;
    font-size: 15px;
    font-weight: bolder;
    color: #2e303e;
    text-align: left;
    padding-bottom: 4px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    margin-top: 3px;
    margin-bottom: 0;
}

.hlogin-input-marker {
    display: inline-block;
    color: #4f59a2;
    padding-left: 2px;
}

.hlogin-origin-checkbox {
    display: none;
}

.hlogin-btn-checkbox {
    position: relative;
    bottom: 2px;
    left: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: max-content;
    height: 20px;
    border: 0;
    background: transparent none !important;
    box-shadow: none !important;
}

.hlogin-btn-checkbox img {
    vertical-align: middle !important;
    width: 20px;
    height: 20px;

}

.hlogin-checkbox-over, .hlogin-btn-checkbox img {
    padding: 0;
    margin: 0;
}

.hlogin-checkbox-over {
    margin: 10px 0 10px 0;
}

.hlogin-checkbox-text {
    display: inline-block;
    max-width: 85%;
    vertical-align: middle;
    margin-left: 8px;
    color: grey;
    font-size: 12px;
}

.hlogin-checkbox-text a {
    color: grey;
    text-decoration: underline;
}

.hlogin-btn-checkbox img {
    position: relative;
    display: inline-block;
    bottom: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

.hlogin-over-link {
    padding: 0;
    margin: 10px 0 0 0;
}

.hlogin-footer-link {
    display: inline-block;
}

.hlogin-footer-link button {
    display: inline-block;
    border: 0;
    padding: 0;
    background: transparent none !important;
    box-shadow: none !important;
    text-decoration: none;
    color: #4f59a2;
    border-bottom: 2px dashed #fcfdfb;
    margin: 2px 15px 10px 5px;
    cursor: pointer;
    font-size: 14px;
}

.hlogin-pan-btn {
    display: block;
    padding: 8px 4px;
    cursor: pointer;
    color: white;
    background-color: #a8a8a8;
    width: calc(100% - 2px);
    border-radius: 2px;
    border: 1px solid grey;
    font-size: 14px;
    -webkit-box-shadow: 0 0 3px 0 rgb(0 0 0 / 5%), 0 0 3px 0 rgb(0 0 0 / 5%);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .05), 0 0 3px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 5%), 0 0 3px 0 rgb(0 0 0 / 5%);
    letter-spacing: 0.06em;
    min-height: 30px;
    margin: 5px 0 15px 0;
}

.hlogin-pan-btn-adaptive {
    position: relative;
    width: 220px;
    display: inline-block;
    margin-top: 15px;
    right: 0;
}

.hlogin-pan-btn-blue {
    background-color: #456dbb;
}

.hlogin-pan-btn-green {
    background-color: #249d7e;
}

.hlogin-over-content *:focus {
    outline: 2px solid #208580;
}

.hlogin-frame-internal input:focus, .hlogin-frame-internal input:active,
.hlogin-text-input-cell:focus, .hlogin-text-input-cell:active {
    border: 0;
    outline: none;
    border-bottom: 2px solid #208580;
    margin-bottom: 14px;
}

.hlogin-footer-link button:focus, .hlogin-footer-link button:active {
    outline: none;
    border-bottom: 2px solid #208580;
}

.hlogin-remove-img-over {
    width: 24px;
    height: 24px;
    margin: 4px;
    opacity: .75;
    cursor: pointer;
}

.hlogin-captcha-code {
    max-width: calc(100% - 170px);
    display: inline-block;
    float: right;
    margin: 0 2px;
    height: 30px !important;
}

.hlogin-pan-scroll {
    position: absolute;
    right: 22px;
}

.hlogin-captcha-reload {
    background-color: #fcfdfb !important;
}

.hlogin-password-text-show, .hlogin-password-text-hide {
    background-color: #fcfdfb;
    color: #575656;
    padding: 9px;
}

.hlogin-pan-hr {
    margin: 14px 0 16px 0;
    border-bottom: 2px dashed #e2e2e2;
    width: 100%;
}

.hlogin-btn-notice {
    padding-top: 15px;
}

@media only screen and (max-width: 992px) {
    .hlogin-pan-btn-adaptive {
        width: calc(100% - 10px);
        right: 3px;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 640px) {
    .hlogin-captcha-code {
        display: block;
        float: none;
        max-width: 100% !important;
        margin: 5px 2px;
    }

    .hlogin-captcha-img {
        height: 50px;
        aspect-ratio: auto 200 / 50;
        width: 200px;
    }

    .hlogin-remove-img-over img {
        width: 34px;
        height: 34px;
    }

    .hlogin-input-title {
        font-size: 17px;
        margin-top: 15px;
    }

    .hlogin-checkbox-text {
        font-size: 14px;
    }

    .hlogin-btn-checkbox img {
        bottom: -1px;
    }

    .hlogin-footer-link button {
        display: inline-block;
        font-size: 18px;
    }

    .hlogin-alternative-link {
        float: none;
        margin-left: 10px;
    }

    .hlogin-content-header {
        display: inline-block;
    }

    .hlogin-pan-maximize-block .hlogin-alternative-link {
        float: right;
    }

    .hlogin-pan-maximize-block .hlogin-content-header {
        display: inline-block;
        width: 100%;
    }

    #hlogin-buttons div {
        display: none;
        padding: 0;
    }

    .hlogin-alternative-link {
        display: none;
    }
}